<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>    
  </configSections>
  <appSettings>
    <!-- General -->
    <add key="Default_Field_Length" value="500"/>
    <add key="Type_Suggestion_Sample_Lines_To_Scan" value="10000"/>
    <add key="SecureApiApplicationName" value="Abnamro.D2S.LiquidityETL.StageOneLoaderConsole"/>
    <add key="SecureApiApplicationToken" value="df65c273-1f07-441f-9017-5ce2caf7eb87"/>
    <add key="KeyVaultSecretName_ClientId" value="?"/>
    <add key="KeyVaultSecretName_SecretKey" value="?"/>
    <add key="KeyVaultServerAdress" value="$$KeyVaultServerAdress$$$"/>
    <add key="DefaultTenant" value="3a15904d-3fd9-4256-a753-beb05cdf0c6d"/>
    <add key="DefaultClientId" value="1950a258-227b-4e31-a9cf-717495945fc2"/>
    <add key="DataLakeAdress" value="cbspp01dls.azuredatalakestore.net"/>
    <add key="AzureSubscription" value="AABNL AZ VDC1"/>
  </appSettings>
  <connectionStrings>
    <!-- Connection string for direct SQL commands -->
    <add name="ConfiguredConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" providerName="System.Data.SqlClient"/>
    <add name="LoggingDatabaseConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=D2SLogging;Integrated Security=True;"></add>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.28.3.860" newVersion="2.28.3.860"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <log4net>
    <root>
      <level value="ALL"/>
      <!--
        http://www.codeproject.com/Articles/140911/log4net-Tutorial
        http://dotnetdawgs.com/post/List-of-Log4Net-Conversion-patters.aspx
        https://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html
        OFF - nothing gets logged
        FATAL
        ERROR
        WARN
        INFO
        DEBUG
        ALL - everything gets logged
      -->
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="File" value="Logs\\"/>
      <!--<param name="File" value="Logs\\log-" />-->
      <param name="AppendToFile" value="true"/>
      <param name="Encoding" value="UTF-8"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="MaximumFileSize" value="1MB"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd'.txt'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%date][%level]:%message%newline%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
