<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- Allow NuGet to download missing Packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during a build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <config>
    <!-- This is the default URL for NuGet Push. It can be overridden with the -Source parameter --> 
    <add key="DefaultPushSource" value="https://api.nuget.org/v3/index.json" />
    <!-- The NuGet Packages will be downloaded and installed here. References are added to project files which refer to this folder -->
    <add key="repositoryPath" value=".\packages" />
  </config>
  <!-- The packageSources lists the URLs to search for available Packages -->
  <packageSources>
    <clear />
    <add key="NuGetv3.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <!-- This package source is currently disabled -->
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <!-- Points to the current active source. -->
    <!-- Aggregate source implies that all the current package sources except the disabled ones are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>